/* Start of local Google Fonts */
@font-face {
    font-family: "Poppins";
    src: url("../font/poppins/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Regular.ttf");
    font-display: swap;
}

/*General Styling*/

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: #3a3a3a;
    font-family: 'Roboto', Poppins, sans-serif;
    user-select: none;
}

body {
    background-color: whitesmoke;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Roboto, serif;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #3498db;
}

a:hover {
    transition: 0.3s;
    color: #3a3a3a;
}

span {
    color: #3498db;
    transition: 0.3s;
}

span:hover {
    color:#3a3a3a;
    transition: 0.3s;
}

input {
    display: inline;
    color: #3498db;
    border: 1px solid #808080;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
}

label {
    color: #3498db;
    font-size: 18px;
}

#text-center {
    text-align: center;
}

.on-item {
    display: inherit;
}

.off-item {
    display: none;
}

.inline-block {
    display: inline-block;
}

b {
    color: inherit;
}

i {
    color: inherit;
}

/* Nav section*/

nav {
    padding: 15px;
}

#logo {
    float: left;
    padding-left: 15px;
}

#logo img, h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

#logo>img {
    height: 45px;
}

#menu-bar {
    list-style: none;
    padding-right: 35px;
}

#menu-bar li {
    float: right;
    padding-right: 15px;
    font-size: 18px;
}

#logo, #menu-bar {
    line-height: 30px;
}

/* Welcome Section*/

.bitlogo {
    background: url(../img/192x192.png) no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 20px;
}

.welcome {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
    z-index: 999;
}

.welcome h2 {
    font-size: 60px;
    text-align: center;
    display: inline-block;
}

.center-title {
    padding: 2vh 0px;
}

.blue-text {
    color: #3498db;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    padding-bottom: 2px;
    border-radius: 15px;
}

.blue-text:hover {
    color: white;
    background-color: #3498db;
    transition: 0.3s;
}

.cta-submit {
    background-color: #ffffff;
    font-size: 30px;
    padding: 15px 60px;
    border-radius: 15px;
    color: #3498db;
    transition: 0.3s;
    border: 2px solid #3498db;
    cursor: pointer;
}

.cta-submit:hover {
    background-color: #3498db;
    color: white;
    transition: 0.3s;
}

/* Login Section*/
#h2-login {
    margin-top: 2%;
    position: relative;
    font-size: 16px;
    left: -30px;
}

#h2-login>h2 {
    font-size: 22px;
    display: inline-block;
}

#login-form {
    margin-top: 2%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #3498db;
    background-color: white;
    border-radius: 15px;
}

#login-form>h2 {
    display: inline;
    transition: 0.3s;
}

#to-left {
    text-align: initial;
}

#to-left>input {
    border: none;
}

#to-left>label {
    color: #3a3a3a;
}


#username {
    width: auto;
    text-align: left;
}

#username>input {
    padding: 8px 15px;
    width: 70%;
}

#password {
    width: auto;
    text-align: left;
}

#password>input {
    padding: 8px 15px;
    margin-left: 14px;
    width: 70%;
}

.faq {
    display: inline;
    float: right;
    font-size: 18px;
    color: #3498db;
    cursor: pointer;
}

.cta-login {
    background-color: #ffffff;
    font-size: 18px;
    padding: 7px 30px;
    border-radius: 15px;
    color: #3498db;
    transition: 0.3s;
    border: 2px solid #3498db;
    cursor: pointer;
    display: inline-block;
}

.cta-login:hover {
    background-color: #3498db;
    color: white;
    transition: 0.3s;
}

#confirm-input {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    display: none;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

#confirm-input>p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* CTA create account and OR Learn Metamask*/

.login-text {
    margin-top: 5px;
    color: #3a3a3a;
    font-size: 16px;
    margin-bottom: -5px;
    transition: 0.3s;
    cursor: pointer;
}

.login-text:hover {
    color: #3498db;
    transition: 0.3s;
}


/* Metamask Login*/

#metamask-login {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    display: inline-block;
    width: 150px;
    height: 100px;
    border: 1px solid #3498db;
    border-radius: 15px;
    color: #f66f00;
    cursor: pointer;
}

#metamask-login>div>h4 {
    color: #f66f00;
    margin-top: 5px;
}

#logo-container svg {
    /* For Vendor script*/
    width: 80px;
    height: 80px;
}

/* Footer Section */

#elevate {
    padding-bottom: 70px;
}

.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer>div {
    display: inline-block;
}

#social-media {
    float: left;
    padding-left: 10%;
    padding-top: 4px;
}

#social-media>a {
    padding-right: 20px;
    font-size: 25px;
    color: #3498db;
    transition: 0.3s;
}

#social-media>a:hover {
    color: #3a3a3a;
    transition: 0.3s;
}

#crypto-widget {
    text-align: center;
    width: 40%;
}

#copyright {
    float: right;
    padding-right: 10%;
    padding-top: 10px;
}