/*General Styling*/

.block {
    display: block;
}

.block>div {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Fiat Swap*/

form {
    margin-top: 20px;
}

#balance-fiat {
    width: 70px;
}

#limit-fiat {
    width: 70px;
}

.circle-swap {
    border: 1px solid #3498db;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
    color: #3498db;
}

select {
    padding: 5px;
    border: 1px solid #3498db;
    border-radius: 5px;
}

.float-left>label {
    display: block;
}

.float-right>label {
    display: block;
}

#fiat-enter {
    width: 50%;
    padding: 5px;
}

#fiat-receive {
    width: 50%;
    padding: 5px;
    background-color: whitesmoke;
}

#fiat-swap {
    display: none;
}

#fiat-swap>section>h4 {
    display: inline-block;
}

#fiat-swap section {
    display: inline-block;
    border: 1px solid #3498db;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

.swap {
    background-color: #ffffff;
    font-size: 18px;
    padding: 7px 30px;
    border-radius: 15px;
    color: #3498db;
    transition: 0.3s;
    border: 2px solid #3498db;
    cursor: pointer;
    display: inline-block;
}

.swap:hover {
    background-color: #3498db;
    color: white;
    transition: 0.3s;
}